@import 'reset';
@import 'slider';
.bl_sect{
  padding-top: 60px;
  padding-bottom: 60px;
}

.el_pageTtl{
  text-align: center;
  margin-bottom: 30px;
}

.ly_body{
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
}